body{
	background: "#00000";
}
#mycanvas{
	height:500px;
	width:800px;
	display:block;
	margin:100px auto 0px;
}

#scoreCanvas,#canvasenemie,#canvasjet,#download,#playCanvas{
	height:500px;
	width:800px;
	display:block;
	margin:-500px auto 0px;
}
#stage{
	position: absolute;
	color: white;
	background:black;
	opacity: 0.5;
	top:100px;
	right:500px;
	width:500px;
	height: 500px;
	visibility:hidden;
	
	}
#stage ul+li{
	margin-left:100px;
}

#stage ul li{
	display:inline-block;
	border:2px solid;
	border-radius: 5px;
	margin-right:100px;
}
#timer{
	position:absolute;
	color:white;
	top:100px;
	right:400px;
}
#score{
	position:absolute;
	margin-top: 100px;
	color: white;
}

#meilleurScore{
	position:absolute;
	margin-top: 500px;
	color: white;
}
#seconde{
	display: inline;
	position: absolute;
	color: white;
	top:100px;
	right:480px;
}
#centi{
	display: inline;
	position: absolute;
	color: white;
	top:100px;
	right:474px;
}
.drawlevel{
	position: absolute;
	top:150px;
	right:500px;
}